@model ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@item.Amount</td>
                    <td class="text-left">@item.Product.Name</td>
                    <td class="text-right">@item.Product.Price.ToString("c")</td>
                    <td class="text-right">
                        @((item.Amount * item.Product.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a class="text-danger remove" asp-controller="ShoppingCart"
                           asp-action="RemoveFromShoppingCart" asp-route-productId="@item.Product.ProductId">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="row w-100 ml-1">
        <a class="btn btn-success  mx-1" role="button" asp-controller="Order" asp-action="Checkout">Check out</a>
        <a class="btn btn-info mx-1" role="button" asp-controller="Product" asp-action="Index" asp-route-categoryName="ATV">Continue shopping</a>
    </div>

</div>
